* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-color: antiquewhite;
  }
  
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    grid-gap: 1rem;  
    mix-width: 400px;
    margin: auto;
    border: 10px solid black;
}
  
  
  ul {
      
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem
      
  }

  li {
    width: 40vmin;
    height: 30vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
  }
  
  
  
 /*
(I tried the media quries and it looked bad)

@media (max-width: 600px)
 {
    body {
      display: grid;
      grid-template-columns: 1fr;
     }
     .gallery {
        display:flex;
        flex-wrap: wrap;
        justify-items: center;
        margin: auto;
        border: 10px solid black;
    }
    img {
        max-height: 100%;
        min-width: 100%;
        object-fit: cover;
      }
 } 
  
  
  

  .gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   justify-items: center;
   grid-gap: 2rem;  
   max-width: 400px;

   display: flex;
   flex-wrap: wrap;
    }

    li {
      height: 30vh;
      flex-grow: 1;
      text-decoration: none;
      display: flex;
    }

  .gallery img {
    width: 100%;
    margin: 1rem;
}
    img {
      max-height: 100%;
      min-width: 100%;
      object-fit: cover;
    }


    ul {
      list-style: none;
      padding-left: 0;
    }*/
  
